@import "color";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Kumbh Sans", sans-serif;
  background-color: $white;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

/* nav */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 85%;
  margin: auto;
  padding: 20px 0;
  border-bottom: 1px solid $grayish_blue;

  .cart {
    position: relative;
    display: flex;
    align-items: center;

    .basket{
      position: relative;
      cursor: pointer;
    }

    .basket input{
      position: absolute;
      width: 20px;
      text-align: center;
      right: -15px;
      background-color: $orange;
      border-radius: 5px;
      border: none;
      height: 18px;
      top: -7px;
    }
  }

  .cart_img {
    padding-left: 40px;
  }

  .avatar {
    width: 90px;
  }
}

ul {
  display: flex;
  align-items: center;
}

li {
  list-style-type: none;
}

[data-tab-target] {
  padding: 0 5%;
  cursor: pointer;
}

[data-tab-content] {
  display: none;
}

.active[data-tab-content] {
  display: block;
}

.hamburger {
  display: none;
}

// Mobile
.mobile {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;

  .mobileContent {
    position: relative;
    background-color: $orange;
    height: 100%;
    width: 50%;
  }

  .mobile-backdrop {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
  }

  .mobile_menu {
    flex-direction: column;
    align-items: flex-start;
  }

  .mobile_menu [data-tab-target] {
    margin-top: 30px;
  }

  .mobile_menu li {
    margin: 15px 0;
    font-weight: 800;
    color: white;
  }
}

// All Products
.products {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 80px auto;
  width: 100%;

  .items {
    background-color: $orange;
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    margin: 0 7px;
  }

  .displayImg {
    width: 100%;
    border-radius: 10px;
  }

  .displayText {
    padding: 10px;
    line-height: 1.5;

    h3 {
      font-size: 20px;
    }

    p {
      font-size: 18px;
    }
  }
}

/* body */
main {
  width: 85%;
  margin: auto;
  // height: 100vh;

  .sneakers {
    display: flex;
    margin: auto;
    justify-content: space-around;
    position: relative;
    margin: 120px 0;
  }

  .thumbnails {
    width: 35%;
  }

  .sneaker_text {
    padding: 30px 40px;
    width: 50%;
  }

  /* thumbnails */
  .main_img {
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
  }

  .thumbs {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }

  .thumbs li {
    position: relative;
    margin: 15px 0;
    width: 20%;
    cursor: pointer;
  }

  .thumbs li img {
    width: 100%;
    border-radius: 10px;
  }

  .cover {
    position: absolute;
    width: 100%;
    top: 0;
    border-radius: 10px;
    height: 96%;
    background-color: rgba(255, 255, 255, 0.5);
    border: 3px solid $orange;
  }

  /* text */
  .sneaker_text h5 {
    color: $orange;
    font-weight: bold;
    margin: 10px 0;
  }
  .sneaker_text p {
    margin: 20px 0;
  }
  .amount {
    width: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .amount h4 {
    background-color: $pale_orange;
    color: $orange;
    border: none;
    padding: 2px 8px;
    border-radius: 5px;
  }
  .increase {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: $light_grayish_blue;
    width: 30%;
    height: 50px;
    border-radius: 7px;
    font-weight: bold;
    cursor: pointer;

    .num {
      width: 30px;
      font-weight: 700;
      padding: 3px 5px;
      text-align: center;
      border: none;
      background-color: transparent;
    }
  }
  .strike {
    text-decoration: line-through;
    color: $grayish_blue;
    margin-bottom: 20px;
    font-size: 16px;
  }
  .addToCart {
    display: flex;
    justify-content: space-between;
  }
  .addToCart button {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: bold;
    width: 65%;
    border-radius: 7px;
    background-color: $orange;
    border: none;
    color: $white;
    outline: 0;
    cursor: pointer;
  }
}

.addedCartItem {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: $white;
  width: 310px;
  padding: 15px;
  border-radius: 7px;
  -webkit-box-shadow: 0px 6px 24px 1px rgba(0, 0, 0, 0.27);
  -moz-box-shadow: 0px 6px 24px 1px rgba(0, 0, 0, 0.27);
  box-shadow: 0px 6px 24px 1px rgba(0, 0, 0, 0.27);

  .cartHeader {
    padding: 15px 0;
    border-bottom: 1px solid $grayish_blue;
  }

  .cartItemBody {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-height: 400px;
    overflow-y: scroll;


    .cartItemSub {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .delete{
        cursor: pointer;
        margin-right: 7px;
      }
    }

    .cartItemText p {
      color: $grayish_blue;
      font-weight: 700;
      margin: 10px 0;
      font-size: 13px;
    }

    .total {
      font-weight: 700;
      color: black;
      padding-left: 10px;
    }

    .cartItemImage {
      width: 50px;
      border-radius: 5px;
      padding-left: 0;
    }
  }
  .checkoutBtn {
    color: $white;
    font-weight: 700;
    width: 100%;
    height: 40px;
    border-radius: 10px;
    border: none;
    background-color: $orange;
    margin: 10px 0;
    outline: 0;
    cursor: pointer;
  }
}

.displayNone {
  display: none !important;
}

.modal {
  top: 0;
  left: 0;
  position: fixed;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  overflow-y: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;

  .modal-backdrop {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
  }
  .modal-content {
    position: relative;
    z-index: 3;
    color: white;
    padding: 20px 50px;
    min-height: 400px;

    .carousel {
      position: relative;
      // width: 100%;
      z-index: 3;
      max-width: 400px;
      margin: auto;
    }

    .carousel .carousel_item,
    .carousel .carousel_item_hidden {
      display: none;
    }

    .carousel .carousel_item img {
      width: 100%;
      max-width: 400px;
      height: auto;
      border-radius: 10px;
    }

    .carousel .carousel_item_visible {
      display: block;
    }

    .carousel .carousel_actions {
      display: flex;
      width: 100%;
      justify-content: space-between;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }

    .carousel .carousel_actions button {
      border-radius: 100%;
      width: 40px;
      height: 40px;
      border: none;
      cursor: pointer;
    }

    .carousel .carousel_actions button#carousel_button_prev {
      margin-left: -20px;
    }

    .carousel .carousel_actions button#carousel_button_next {
      margin-right: -20px;
    }

    .thumbs1 {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 400px;
      margin: auto;
    }

    .thumbs1 li {
      position: relative;
      margin: 15px 0;
      width: 20%;
      cursor: pointer;
      z-index: 3;
    }

    .thumbs1 li img {
      width: 100%;
      border-radius: 10px;
    }
  }
}

.backColor {
  position: absolute;
  top: 0;
  background-color: rgba(255, 255, 255, 0.842);
  width: 100%;
  height: 100vh;
  overflow: hidden !important;
  z-index: 2;
}

@media screen and (max-width: 1200px) {
  header {
    width: 90%;
  }

  main {
    width: 90%;
  }
}

@media screen and (max-width: 1000px) {
  header {
    width: 95%;
  }

  main {
    width: 95%;
  }

  .displayText h3 {
    font-size: 16px;
  }

  .displayText p {
    font-size: 14px;
  }
}

@media screen and (max-width: 900px) {
  header {
    width: 90%;
  }

  main {
    width: 70%;
  }

  .hamburger {
    display: block;
    margin: 3px 10px 0px 0px;
  }

  .menu [data-tab-target] {
    display: none;
  }
  .close {
    position: absolute;
    right: 20px;
    top: 0;
  }

  .products {
    flex-direction: column;

    .items {
      margin: 10px 0;
    }
  }

  .sneakers {
    flex-direction: column;

    .thumbnails {
      width: 300px;
      margin: auto;
    }

    .sneaker_text {
      padding: 0px 0px;
      width: 100%;
      margin: auto;
    }
  }
}

@media screen and (max-width: 768px) {
  main {
    width: 70%;
  }

  .displayText h3 {
    font-size: 20px;
  }

  .displayText p {
    font-size: 18px;
  }
}

@media screen and (max-width: 600px) {
  main {
    width: 85%;
  }

  .mobile .mobileContent {
    position: relative;
    background-color: $orange;
    height: 100%;
    width: 80%;
  }

  main .addToCart {
    flex-direction: column;
    align-items: center;
  }

  .addToCart button {
    min-width: 200px;
    height: 50px;
  }

  .addToCart .increase {
    width: 200px;
    margin: 10px 0;
  }

  .modal .modal-content .carousel {
    max-width: 290px;
  }

  .modal .modal-content .thumbs1 {
    width: 290px;
  }
  .addedCartItem{
    width: 300px;
    right: 10px;
  }
}
